body {
  background-color: #2F2FA2;
}

.navTitle {
  font-weight: 950;
  font-size: xx-large;
  text-indent: left 100%;
}

.blogBox {
  margin-top: 8px;
  border-style: solid;
}

.blogTitle {
  text-decoration: none;
  color: darkkhaki;
}

.blogDesc {
  border-style: solid;
  margin-bottom: 5px;
  padding: 2px;
  background-color: #F64C72;
}

.blogDescMain {
  font-weight: 700;
}

.blogDescTwo {
  font-size: 25px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  padding: 5.5px;
  color: darkkhaki;
}

.blogBoxCont {
	margin-top: 10px;
  border-style: solid;
  background-color: #F64C72;
}

.formCont {
  margin-top: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 75%;
  background-color: #F64C72;
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: black;
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: black;
  margin-bottom: 10px;
}

a:link {
  color: whitesmoke;
}
a:visited {
  color: #F64C72;
}

a:hover {
  color: deeppink;
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}